/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 20px auto;
    /* debug */
    height: 100vh;
    background-color: green;
}
/* end regole generali */
/* stile header */
#intestazione {
    margin-bottom: 20px;
    /* debug */
    background-color: #e579e6;
    height: 200px;
}
/* end stile header */
